<div class="container">
	<div class="header">
        <div class="header-img">
            <img src="logo.png" alt="Company Logo">
        </div>
        <div class="header-title">
            <h1>Pratiti Technologies Private Limited</h1>
        </div>
    </div>
	<div class="sub-container">
		<h4>Attendance Record</h4>
		<h5>704, Vascon Eco Tower</h5>
		
		<div class="datetime">
		  <p>Date: {{ date }}</p>
		  <p>Time: {{ time }}</p>
		</div>
		
		<div class="attendance-stats">
		  <div class="stat-item">
			<h3>Total Employees : </h3>
			<p>120</p>
		  </div>
		  <div class="stat-item">
			<h3>Employees Present : </h3>
			<p>100</p>
		  </div>
		</div>
	  </div>	  
</div>
